<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />
    <title>Starter Template for Bootstrap</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
    <link href="/starter-template.css" rel="stylesheet" />
    <script src="/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Projeto Cadastro</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="pessoas">Pessoas</a></li>
            <li><a href="projetos">Projetos</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1>Pessoas</h1>
      <p><a href="pessoas/create">Nova pessoa</a></p>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Acoes</th>
          </tr>
        </thead>

        <tbody>
          <% pessoas.map(pessoas => { %>
          <tr>
            <td><%= pessoas.nome %></td>
            <td><%= pessoas.cargo %></td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a
                  type="button"
                  class="btn btn-default"
                  href="pessoas/update/<%= pessoas.id %>"
                  >Editar</a
                >
                <a
                  type="button"
                  class="btn btn-default"
                  href="pessoas/delete/<%= pessoas.id %>"
                  onClick="return confirm('Deseja realmente excluir?')"
                >
                  Excluir
                </a>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write('<script src="/js/vendor/jquery.min.js"><\/script>');
    </script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
